<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://christian.cyd.liu.se:5432/polisen"/>
        <property name="username" value="super"/>
        <property name="password" value="hninQJarIwIXm9ps"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="gov/polisen/dataStructures/CaseMapper.xml"/>
  </mappers>
</configuration>