<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gov.polisen.dataStructures.CaseMapper">
  <select id="selectCase" resultType="gov.polisen.dataStructures.Case">
    SELECT * FROM Cases WHERE deviceID=#{caseID}
  </select>
</mapper>
